<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="css/main.css" rel="stylesheet" />
    <title>My Favorite Things</title>
</head>

<body>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Vietnamese Cuisine</h1>
            <p class="lead text-justify">Culinary culture is naturally formed from the process of living. To Vietnamese,
                not only
                does it bring flavors like others, but also conveys traditions and cultural values.</p>
        </div>
    </div>
    <div class="container">
        {{{body}}}
    </div>
    <script type="module" src="js/main.js"></script>
</body>


</html>