<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="css/main.css" rel="stylesheet" />
    <title>My Favorite Things</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">My Favorite Things</h1>
            <p class="lead text-justify">Let's play a game to see how well you understand me<br>
                There is a hint for each category, see if you can guess my favorites</p>
        </div>
    </div>
    <div class="container">
        {{{body}}}
    </div>

    <footer class="p-5 text-center">
        <h5>© Lan Le 2019. All Rights Reserved.</h5>
    </footer>

    <script type="module" src="js/main.js"></script>
</body>


</html>