@import "../modules/vars";

.favImg {
  object-fit: cover;
  background: blue;
  width: 100%;
  height: 500px;
  filter: blur(10px);
}

.blur {
  overflow: hidden;
  margin: 20px 0;
}

.myfavs {
  p {
    color: $theme_color;
  }
}
